
<%- include("header") -%>


    <div class="box" id="heading">
     <h1> <%= listTitle %>  </h1> 
    </div>


 <span id="quotes"> <h2 data-text="<%= time%> ,HAVE A NICE <%=wishes%> ">  <%= time%> ,HAVE A NICE <%=wishes %> </h2> </span>  
    <div class="box">
    <% for(var i=0; i<itemList.length ;i++){ %>
        <div class="item">
            <input type="checkbox">
        <p> <%= itemList[i] %> </p>
    </div>
        <% } %> 
       

    <form class="item" action="/" method="post">
        <input type="text" name="additem" placeholder="New Item"  required   autocomplete="off">
      <button type="submit" name="listName" value="<%= listTitle %>">  + </button>
    </form>
</div> 



<%- include("footer") -%>
